body {
}

#bgCanvas {
/*	outline: 1px solid red;
	position: absolute;
	background: url("../images/connectTrain_bg.png") no-repeat;
*/	width: 1229px;
	height: 768px;
	background-size: cover;
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	text-align: center;
}
.trainRail{
	width: 100%;
	background: url("../images/connectTrain_railway.png") no-repeat;
	height: 78px;
	position: absolute;
	top: 292px;
}


[class*='dropArea_'] {
	width: 315px;
	height: 102px;
	position: absolute;
	cursor: default;
	/*top:347px;*/
	/*outline: 1px solid red*/
}
.dropArea_0{
	/*left: 414px;*/
}
.dropArea_1{
	/*left: 728px;*/
}

[class*='dragObj_'] {
	width: 316px;
	height: 78px;
	border: 0px;
	position: absolute;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.0);
	background: url('../images/connectTrain_railway_part.png') no-repeat;
	background-size: 316px 78px;
	z-index: 2;
	line-height: 190px;
}

.trainText{
	position: absolute;
	top: 205px;
	left: 420px;
	width: 614px;
	height: 90px;
	border-left: 2px solid;
	border-right: 2px solid;
	background: url('../images/connectTrain_arrow.png') no-repeat;
	background-position: 0 40px
}

.line {
	width: 9px;
	height: 100%;
	top: 0px;
	left: 743px;
}
