body {
	background:url("../images/bgImg.png") no-repeat;
	background-position: 0 -116px;	
}

#bgCanvas {
	position: absolute;
	width: 1024px;
	height: 768px;
}

.donut {
	position: absolute;
	cursor: pointer;
	cursor: default;
}

#donutCounter {
	width: 473px;
	height: 169px;
	position: absolute;
	z-index: 1;
	top:104px;
	left:351px;
	background: url('../images/donutdevide_donutbox.png') no-repeat;
	padding: 25px 75px;
}

#donutPos {
	position: absolute;
	width: 1024px;
	height: 768px;
	top: 0px;
	left: 146px;
}

#question1, #question2, #questionTop {
	position: absolute;
	width: 156px;
	height: 70px;
	font-family: NanumGothicExtraBold;
	font-size: 54px;
	text-align: center;
	background: url('../images/donutdevide_numbg.png') no-repeat;
}

#answerObject1, #answerObject2 {
	position: absolute;
    width: 441px;
    height: 191px;
    padding: 19px 0px 1px 30px;
    pointer-events: none;
}


#answerObject1 {
	top: 66%;
	left: 15%;
	background: url('../images/donutdevide_donuttray_blue.png') no-repeat;
}
#answerObject2 {
	top: 66%;
	left: 68%;
	background: url('../images/donutdevide_donuttray_green.png') no-repeat;
}
