#bgCanvas {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 0;
	font-family: NanumGothicExtraBold;
}
.title {
	position: absolute;
	top: 37px;
	left: 280px;
	width: 664px;
	height: 97px;
	color: #fff;
	line-height: 90px;
	font-size: 50px;
	text-align: center;
	/*border-bottom: 4px solid #fff;*/
}
[class*="dropArea"] {
	position: absolute;
	width: 187px;
	height: 194px;
	background: url(../images/block_3.png) no-repeat;
}
[class*="dropArea"] img {
	vertical-align: middle;
	z-index: -1;
}
[class*="dropArea"] .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 50px;
	color: #000;
	text-align: center;
	line-height: 175px;
}
[class*="dropArea"] .text .bunsuDiv {
	margin-left: -10px;
}
.dragObj {
	position: absolute;
	width: 190px;
	height: 194px;
	/*background: url(../images/dragBg.png) no-repeat;*/
}
.dragObj .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	line-height: 175px;
	cursor: pointer;
}
.answer {
	position: absolute;
	top: 190px;
	left: 1000px;
	width: 250px;
	height: 191px;
	/*background-color: rgba(0, 0, 255, 0.2);*/
}
.answer .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	line-height: 175px;
}
.text span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	/*color: #fff;*/
	color: #4a3313;
	/*background-color: rgba(0, 0, 255, 0.1);*/
}
.text .int {
	width: 80px;
	height: 81px;
	margin-right: 12px;
	margin-left: -10px;
	line-height: 75px;
	/*background: url(../images/blockCircle_1.png) no-repeat;*/
	/*background-size: : url(../images/blockCircle_1.png) no-repeat;*/
}
.text .prop {
	width: 80px;
	height: 175px;
}
.text .prop > span {
	display: block;
	height: 81px;
	line-height: 70px;
}
.text .prop .bunja {
	margin-bottom: 13px;
}

/* 추가 - 소수 원 */
.decimal .prop > span{
	display: inline-block;
}
.decimal .prop{
	position: absolute;
	width: 100%;
	left: 0;
	text-align: center;
}
.decimal .bunja{
	background: url(../images/blockCircle_1.png) no-repeat;
	width: 80px;
}
