#bgCanvas {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 0;
	font-family: NanumGothicExtraBold;
}
.title {
	position: absolute;
	top: 37px;
	left: 280px;
	width: 664px;
	height: 97px;
	color: #fff;
	line-height: 90px;
	font-size: 50px;
	text-align: center;
	/*border-bottom: 4px solid #fff;*/
}

/* dropArea */
[class*="dropArea"] {
	position: absolute;
	width: 187px;
	height: 194px;
	background: url(../images/block_3.png) no-repeat;
}
[class*="dropArea"] .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 50px;
	color: #000;
	text-align: center;
	line-height: 175px;
}
[class*="dropArea"] .text .bunsuDiv {
	margin-left: -10px;
}
/* // dropArea */

/* dragObj */
.dragObj {
	position: absolute;
	width: 190px;
	height: 194px;
	background: url(../images/block_1.png) no-repeat;
}
.dragObj .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	line-height: 175px;
	cursor: pointer;
}
/* // dragObj */

/* answer */
.answer {
	position: absolute;
	top: 180px;
	left: 1020px;
	width: 250px;
	height: 191px;
}
.answer .text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 50px;
	color: #fff;
	text-align: center;
	line-height: 175px;
}
.answer .text .int {
	width: auto;
}
.answer .text .prop {
	width: auto;
	padding: 0 10px;
}
/* // answer */

/* 가이드 */
.guide {
	position: absolute;
	top: 390px;
	left: 186px;
	width: 840px;
	height: 45px;
	color: #b1e9ff;
	text-align: center;
	font-size: 35px;
	line-height: 45px;
}
/* // 가이드 */

/* 분수, 분자, 분모 */
.text span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: #4a3313;
}
.text .int {
	width: 80px;
	height: 81px;
	margin-right: 12px;
	margin-left: -10px;
	line-height: 70px;
}
.text .prop {
	width: 80px;
	height: 175px;
}
.text .prop > span {
	display: block;
	width: 80px;
	height: 81px;
	line-height: 70px;
}
.text .prop .bunja {
	margin-bottom: 15px;
}


[class*="block_"] {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: center / 100% auto no-repeat;
}
.block_1.img { background-image: url(../images/blockCircle_1.png); }
.block_2.img { background-image: url(../images/blockCircle_2.png); }
.block_3.img { background-image: url(../images/blockCircle_3.png); }

.block_1.pushedImg { background-image: url(../images/blockCircle_1_push.png); }
.block_2.pushedImg { background-image: url(../images/blockCircle_2_push.png); }
.block_3.pushedImg { background-image: url(../images/blockCircle_3_push.png); }

.text.sosu .int,
.text.sosu .prop,
.text.sosu .prop > span {
	width: 152px;
	height: 84px;
}
.text.sosu .block_1.img { background-image: url(../images/blockDouble_1.png); }
.text.sosu .block_2.img { background-image: url(../images/blockDouble_2.png); }
.text.sosu .block_3.img { background-image: url(../images/blockDouble_3.png); }

.shining {
	border-radius: 50%;
	box-shadow: 0 0 10px 2px #fff;
}

.img {
	opacity: 1;
	visibility: visible;
}
.pushedImg {
	opacity: 0;
	visibility: hidden;
}
.pushed .img {
	opacity: 0;
	visibility: hidden;
}
.pushed .pushedImg {
	opacity: 1;
	visibility: visible;
}

.value {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* // 분자, 분모 */
