#bgCanvas {
	position: absolute;
	width: 1229px;
	height: 768px;
	text-align: center;
	font-family: NanumGothicExtraBold;
}

.title {
	position: absolute;
	top: 37px;
	left: 36px;
	width: 1018px;
	height: 129px;
	font-size: 50px;
	line-height: 150px;
	color: #69411d;
	background: url(../images/textBox.png) center no-repeat;
}

.dropArea_0 {
	position: absolute;
	height: 120px;
}

.dragObj {
	position: absolute;
	font-size: 50px;
	line-height: 120px;
	background: center no-repeat;
}

.dragObj > img {
	position: absolute;
	top: 54px;
	left: 29px;
}

.price {
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-right: 30px;
	font-size: 40px;
	line-height: 85px;
	text-align: right;
	color: #69411d;
}

.price > span {
	position: absolute;
	top: 0;
	left: 15px;
	font-size: 35px;
	line-height: 90px;
}

/* 체크 버튼 */
.checkBtnContainer {
	position: absolute;
	top: 60px;
	left: 1080px;
	width: 98px;
	height: 106px;
	cursor: pointer;
}
.checkBtnContainer > .checkBtn,
.checkBtnContainer > .checkBtn_on {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: center / auto 100% no-repeat;
}
.checkBtnContainer > .checkBtn { background-image: url(../../../images/common/checkBtnPurple.png); }
.checkBtnContainer > .checkBtn_on { background-image: url(../../../images/common/checkBtnPurple_on.png); }
.checkBtnContainer.on .checkBtn {
	opacity: 0;
	visibility: hidden;
}
