body {
}

#bgCanvas {
	/*outline: 1px solid red;*/
	position: absolute;
	/*background: url("../images/bgImg.png") no-repeat;*/
	width: 1229px;
	height: 768px;
	/*background-size: cover;*/
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	text-align: center;
	color: #8c5e26;
}
.mathTableBg{
	width: 350px;
	height: 350px;
	background: url("../images/mathTable_bg_3x3.png") no-repeat;
	position: absolute;
	top: 170px;
	left: 250px;
	padding: 11px 10px 10px 10px ;
}
.quizBox{
	width: 100px;
	height: 100px;
	background: url('../images/mathTable_dragBox_success.png')no-repeat;
	position: absolute;
	line-height: 94px;
}
.dragContainer{
	width: 300px;
	height: auto;
}
.dropArea{
	position: absolute; 
	width: 140px; 
	height: 140px; 
}
[class*='dragObj_'] {
	margin: 20px 20px;
	width: 100px;
	height: 105px;
	border: 0px;
	display: inline-block;
	border-radius: 0px;
	background: rgba(0, 0, 0, 0.0);
	background: url('../images/mathTable_dragBox.png') no-repeat;
	z-index: 2;
	cursor: default;
	line-height: 94px;
	position: absolute;
}

.trainText{
	position: absolute;
	top: 205px;
	left: 420px;
	width: 614px;
	height: 90px;
	border-left: 2px solid;
	border-right: 2px solid;
	background: url('../images/connectTrain_arrow.png') no-repeat;
	background-position: 0 40px
}

.line {
	width: 9px;
	height: 100%;
	top: 0px;
	left: 743px;
}
