body {
    background: url("../images/bgImg.png") no-repeat;
    background-position: 0 -116px;
}

#bgCanvas {
    position: absolute;
    width: 1024px;
    height: 768px;
    left: 0px;
}

#panel {
    display: inline-block;
    position: absolute;
    top: -60px;
    left: 38.5%;
    width: 532px;
    height: 214px;
    background: url(../images/vic_bowling_textbox.png) no-repeat;
}

#answerObject {
    position: absolute;
    width: 661px;
    height: 162px;
}

.bowling, #ballTxt, .vicText{
    position: absolute;
    width: 132px;
    font-size: 40px;
    color: #000;
    line-height: 52px;
    font-family: NanumGothicExtraBold;
}
#ballTxt {
    text-align: center;
    line-height: 120px;
}
.bowlingball {
    position: absolute;
    display: inline-block;
    top: 800px; 
    left: 587px; 
}

#goalpost {
    position: absolute;
    display: inline-block;
    top: 300px;
    left: 19px;
    pointer-events: none;
    z-index: 12;
}
#bowlingLight{
    position: absolute;
    top: 167px;
    left: 314px;
}
/*추가된 txt + 연산자*/
#queTxt_wrap{
    position: absolute;
    left: 411px;
    top: 31px;
    z-index: 10;
}
.queText{
    font-family: NanumGothicExtraBold;
    font-size: 65px;
    color: #ffea00;
    cursor: default;
    line-height: 102px;
}
#queTxt{
    width: 499px;
    height: 102px;
    text-align: center;
}
#queTxt div{
    display: inline;
}

#cal_img{
    vertical-align: center; 
    padding-left: 5px;
    padding-right: 5px;
}