body {
	background:url("../images/bgImg.png") no-repeat;
	background-position: 0 -116px;
}

#bgCanvas {
	position: absolute;
	background-position: 184px 40px;
	width: 1292px;
	height: 768px;
}

.circle {
	/*height: 240px;*/
	border: 0px;
	border-radius: 0px;
	/*background: #000;*/
	background: none;
	z-index: 2;
	/*line-height: 350px;*/
	font-size: 40px;
	position: absolute;
}
.hangerText{
	position: absolute;
	width: 143px;
	font-size: 60px;
	font-family: NanumGothicExtraBold;
	color: #333333;
	text-align: center;
	z-index: 10;
	line-height: 300px;
}

/*#choiceQuestion_0, #choiceQuestion_1, #choiceQuestion_2{*/
	/*margin-left: -33px;*/
	/*z-index: -5555;*/
/*}*/

#cloud {
	position: absolute;
	/*width: 1187px;*/
	/*height: 80px;*/
	left: 285px;
	top: 100px;
	background: rgba(0, 0, 0, 0.0);
}

#Hanger {
	position: absolute;
	top: 90px;
}

.hanger{
	position: absolute;
	width: 176px;
}

.Num{
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 55px;
	color: #333333;
	text-align: center;
}

#robotTXT{
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: -1;
}

#robotBox{
	position: absolute;
	top:16px;
	left:115px;
	z-index: -1;
}
