body {
	background:url("../images/bgImg.png") no-repeat;
	background-position: 0 -116px;	
}

#bgCanvas {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 0px;
}

#mathToy {
	position: absolute;
	left: 270px;
	top: 135px;
}

.colorpencil{
	position: absolute;
	cursor: pointer;
	cursor: default;
	text-align: center;
}

.colorpencilText{
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 55px;
	color: #333333;
	width: 170px;
	text-align: center;
	width:112px;
}

/*#colorpencilQuestionbox{*/
	/*background: url('../images/colorpencil_questionbox.png');*/
	/*}*/

/*#txt01{
	font-family: NanumGothicExtraBold;
	font-size: 40px;
	color: #333333;
	text-align: center;
	display: inline-block;
	float: left;
	}*/



	#txt02{
		position: relative;
	}

	#txt03{
		margin-left:70px;
	}
	#txt04{
		width:90px;
		height:100px;
		background: url('../images/colorpencil_questionbox.png');
		margin-left:10px;
	}

	#txt01,#txt02,#txt03,#txt04,#txt05{
		font-family: NanumGothicExtraBold;
		font-size: 55px;
		color: #333333;
		text-align: center;
		display: inline-block;
		float: left;
	}

	.colorpencilAll{
		padding-left:20px;
	}

	#startButton {
		position: absolute;
		left: 935px;
		top: 104px;
		z-index: 1;
	}

	#totalCoinContainer {
		position: absolute;
		width: 940px;
		height: 300px;
		top: 450px;
		text-align: center;
		display: none;
	}

	#coinbox100, #coinbox10, #coinbox1 {
		margin-top: 20px;
		display: inline-block;
		vertical-align: top;
		width: 240px;
	}

	#answerMark {
		position: absolute;
		display: none;
		z-index: 10;
	}

	#coinbox100 {
		margin-right: 30px;
	}

	#front {
		position: absolute;
		left: 330px;
		top: 198px;
	}

	#backSeat{
		position: absolute;
		left: 730px;
		top: 198px;
	}


	#calculation{
		position: absolute;
		left: 530px;
		top: 198px;
	}

