body {
	background:url("../images/bgImg.png") no-repeat;
	background-position: 0 -116px;	
}

#bgCanvas {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 0px;
}

#trainContainer {
	position: absolute;
}

.train {
	position: absolute;
	cursor: pointer;
}

.trainText {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 45px;
	color: #333333;
	width: 87px;
	text-align: center;
}

.trainAnswer {
	position: absolute;
}

#trainHead {
	position: absolute;
	top: 180px;
	left: 830px;
}

#trainRoad {
	position: absolute;
	left: 0px;
	top: 305px;
}