body {
	background: url("../images/bgImg.png") no-repeat;
	background-position: 0 -116px;
}

#bgCanvas {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 0px;
}

.rect {
	width: 120px;
	height: 62px;
	font-size: 40px;
	line-height: 51px;
	cursor:default;
	background: url(../images/scale_btn.png) no-repeat;
}

#scaleObj {
	position: absolute;
	display: inline-block;
	top: 157px;
	left: 361px;
	width: 600px;
	height: 550px;
	background: url(../images/scale_scale.png) no-repeat;
}

.ball {
	position: absolute;
}

.ballText {
	position: absolute;
	font-family: NanumGothicExtraBold;
	font-size: 55px;
	color: #333333;
	width: 152px;
	text-align: center;
	cursor: default;
}

#scaleZero {
	position: absolute;
	font-size: 45px;
	font-family: NanumGothicExtraBold;
	top: 312px;
	left: 647px;
	cursor: default;
}

#scsleArrow {
	position: absolute;
	top: 357px;
	left: 638px;
	transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	-webkit-transform-origin: center bottom;
	transform: rotate(0deg);
}

#scsleArrowCenter {
	position: absolute;
	top: 445px;
	left: 643px;
	z-index: 4;
}
