body {
	background:url("../images/bgImg.png") no-repeat;
	background-position: 0 -116px;	
}

#bgCanvas {
	position: absolute;
	width: 1024px;
	height: 768px;
	left: 285px;
}

.fruits {
	position: relative;
	cursor: pointer;
	cursor: default;
	z-index: 5;
}



#UiText {
	position: absolute;
	top: 50%;
	left: 300px;
	font-family: NanumGothicExtraBold;
	font-size: 100px;
	color: #66d1f1;

}

#currentQuestion {
	position: absolute;
	display: none;
	z-index: 10;
}

#picSelectBox01{
	position: absolute;
	top:-27px;
	left:-11px;

}

#questioning{
	width:100%;
}

#questioning img{
	width:383px;
	display: block;
	margin:80px auto;	
}

#questioningImgtxt{
	display: block;
	margin:-125px auto 0 auto;
	width:383px;
	text-align:center;
	font-family: NanumGothicExtraBold;
	font-size:46px;
	color : #fff;
	line-height:0px;
}

#exerciseContainer{
	position: absolute;
	/*text-align: center;*/
    border-radius: 25px;
    height: 120px;
}

#fruitsContainer {
	/*text-align:center;*/
	border-radius: 25px; 
	height: 120px; 
	position: absolute;
}

/*
#numberPanelEx{    
	position: absolute;
    width: 55px;
    height: 80px;
    background-image: url('../../../images/num_panel.png');
    display: none;
    font-family: NanumGothicExtraBold;
    font-size: 25px;
    color: #FFFFFF;
    text-align: center;
    z-index: 1;
 }*/

 .rect{
 	background:url('../images/sekeckt.png');
 	width:152px;
 	height:137px;
 	text-indent:9999px;
 }